@media all and (min-width:500px) {

       
body {
    font-size: 16px;

}


nav {
    background-color: #acd373;
    line-height: 95px;
    height: 104px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.06);
    display: block;
    position: relative;
    min-width: 752px;
}
.limits {
   max-width: 850px;
    margin: 0 auto;
    
}
.logo {
    background-image: url('img/master-1.png');
    width: 152px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 9999em;
}
.nav {
    display: block;
    float: right;
    width:  600px;
    height: 52px;

}
.nav1 {
    display: inline-block;
    text-decoration: none;
    color: #f7f7f7;
    text-transform: uppercase;
    margin-left: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.nav1:nth-of-type(1) {
    text-decoration: underline;
}
.nav1:hover {
    text-decoration: underline;
}
.square {
    display: none;
}
.toggle {
    display: none;
}
.intro {
    background: #9abd67 url('img/siluet.png') no-repeat bottom center;
    color: #f7f7f7;
    height: 700px;
    background-size: contain;
}
    
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vw;
    color: #f7f7f7;
    padding-top: 230px;
    text-align: center;
}
h2 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    font-weight: normal;
    padding-top: 30px;
    text-align: center;
}
.arrow {
    background-image: url('img/v.png');
    height: 14px;
    width: 26px;
    display: inline-block;
    text-indent: 9999em;
    margin-left: 49vw;
    margin-top: 130px;
}
.second {
    background-color: #f7f7f7;
    height:486px;

    padding-top: 90px;
}
.phone {
    background-image: url('img/phone.png');
    background-size: contain;
    height: 393px;
    width: 150px;
    display: inline-block;
    text-indent: 9999em;
    float: right;
    vertical-align: middle;
    clear: both;
}
.person {
    margin-top: 36px;
    height: 55px;
    width: 50px;
    margin-top: 25px;
    display: inline-block;
    vertical-align: middle;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: #454545;
    display: inline-block;
    vertical-align: middle;
     margin-top: 25px;
}
h4 {
    display: none;
}
h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #454545;
    width:775px;
    margin-top: 42px;
    max-width: 600px;
    min-width: 500px;
    display: block;
}
.button {
    margin-top: 45px;
    height: 40px;
    width: 140px;
    border: 1px solid #9abd67;
    text-align: center;
    font-size: 18px;
    color: #9abd67;
    font-family: 'DroidSerif', serif;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.video {
    background: white  url('img/videobig.jpg') no-repeat center center;
    height: 523px;
    display: block;
    text-indent: 9999em;
}
.ourServices {
    background-color: #f7f7f7;
    height:636px;

    padding-top: 100px;
}
.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #454545;
    display: block;
    text-align: center;
}
.underTitle {
    font-family: 'DroidSerif', sans-serif;
    font-size: 18px;
    color: #454545;
    display: block;
    margin-top: 20px;
    text-align: center;
}
.blackSeperator {
    width:7.8vw;
    height: 0.6vw;
    display: block;
    margin-top: 22px;
    margin-left: 46.1vw;
}
.brushIcon {
     margin-top: 90px;
    margin-right: 24px;
    display: inline-block;
    width:36px;
    height: 61px;
 }

.ourDiv {
    width: 215px;
    height: 65px;
    display: inline-block;
}
.phoneOutline {
     margin-top: 30px;
    margin-right: 1em;
    display: inline-block;
    width:35px;
    height: 59px;
}
.computerOutline {
    margin-top: 39px;
    margin-right: 1em;
    display: inline-block;
    width:42px;
    height: 48px;
}
.heading {
    font-family: 'DroidSerif', serif;
    font-style: bold;
    font-size: 14px;
}
.underHeading {
    font-family: 'DroidSerif', serif;
    margin-top: 13px;
    font-size: 13px;
}
.button2 {
    margin-top: 85px;
    height: 40px;
    width: 140px;
    border: 1px solid #9abd67;
    text-align: center;
    font-size: 18px;
    color: #9abd67;
    font-family: 'DroidSerif', serif;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    margin-left: 41%;
    line-height: 40px;
    
}

span {
    color: #acd373;   
}
.meetOur {
    background-color: #acd373;
    height:654px;

    padding-top: 47px;
}
.w {
    color: #f7f7f7;
}
.facePhoto1 {
    margin-top: -32px;
    border: 5px solid #acd373;
    border-radius: 50px;
    width: 155px;
    height 155px;
    resize: both;

}
.profile {
    background: #f7f7f7;  
    margin-top: 77px;
    border-radius: 5px;
    width: 270px;
    height:248px;
    display: block;
    position: relative;
    margin-left: 80px;
    text-align: center;
}
.o {
    font-family: 'DroidSerif', serif;
    font-style: bold;
    font-size: 14px;
    margin-top: 32px;
    text-align: center;
}
.i {
    font-family: 'DroidSerif', serif;
    font-style: italic;
    margin-top: 15px;
    font-size: 13px;
   text-align: center;
}
.gray {
    background-color: #ebebeb;
    margin-top: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
    height: 37px;
    padding-top: 15px;
}
.facebook {
    background-image: url('img/facebooklogo.png');
    margin-left: 57px;
    text-indent: 999em;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.twitter {
    background-image: url('img/twitterlogo.png');
    margin-left: 8px;
    text-indent: 999em;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.linkedin {
    background-image: url('img/linkedin.png');
    margin-left: 8px;
    text-indent: 999em;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.darkGreen {
    background-color:#96b865;
    height:66px;

    
    padding-top: 18px;
}
.hiddenText {
    display: inline-block;
    color: #95b764;
}
.buttonW {
    margin-left: 30px;
    height: 30px;
    width: 100px;
    border: 1px solid #f7f7f7;
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
    color: #f7f7f7;
    font-family: 'DroidSerif', serif;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
}
.contain {
    min-width:  849px;
    max-width:  90vw;
    display: block;
    position: relative;
}
    
    
}